* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

html{
	font-size: 62.5%;
	font-family: 'Trebuchet MS', sans-serif;
}

body {
	background: url("blueBackground.png") no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}

.sel {
	float: left;
	margin: 5% 1%;
	width: 74%;
	min-width: max-content;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-radius: 1.5rem;
	background-color: rgba(50, 50, 255, .3);
	backdrop-filter: blur(.7rem);
}

.selector {
	display: flex;
	justify-content: center;
}

.selector li {
	margin: 2rem;	
	padding: 0.4rem;
	font-size: 2rem;	
	list-style: none;
}
.selector label {
	background: rgb(153, 189, 247);
	padding: 0.1rem 0.7rem;
}

.selector label.red {
	background: rgb(235, 52, 52);	
	padding: 0.1rem 0.7rem;
}

.selector select {
	margin: 0.5rem;
	width: max-content	
}

.selector input {
	margin: 0.5rem;
	width: 15rem;
}

.example {
	font-size: 2.5rem;
	margin: 3rem;
}

.example h2 {
	font-size: 3.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.example p {	
	display: flex;
	justify-content: center;
}

.example div {	
	display: flex;
	justify-content: center;
}

button {	
	margin: 1rem;
	padding: .5rem .5rem;	
	border: 0.2rem solid blue;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	background-image: radial-gradient(rgba(153, 189, 247,0), rgba(153, 189, 247,1));
	cursor: pointer;
	}

button.red:focus {
	background-image: radial-gradient(rgba(235, 52, 52,0), rgba(235, 52, 52,1));
	border: 0.2rem solid red;
}

button.green:focus {
	background-image: radial-gradient(rgba(2, 212, 23,0), rgba(2, 212, 23,1));
	border: 0.2rem solid green;
}

aside {
	float: right;
	margin: 5% 1%;
	width: 20%;
	min-width: max-content;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
	border-radius: 1.5rem;
	background-color: rgba(50, 50, 255, .3);
	backdrop-filter: blur(.7rem);
}

/*.built {
	background-image: linear-gradient(to bottom right, rgb(228, 247, 220), rgb(176, 212, 179));
	width: 100%;
}*/

.built h2{
	display: flex;
	justify-content: center;
}

.built li {
	margin: .15rem;	
	padding: 0rem 1rem;
	font-size: 1.3rem;	
	list-style: none;	
	display: flex;
	justify-content: center;
}

.built a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.modal {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease-out;
}

.modal.open {
	opacity: 1;
	pointer-events: all;
}

.editMenu {
	position: absolute;
	height: 70%;
	top: 50%;
	left: 50%;
	min-width: max-content;
	transform: translate(-50%, -50%) scale(0.5);
	transition: all 0.3s ease-out;
}

.editMenu {	
	transform: translate(-50%, -50%) scale(1);
}

.editMenu p {
	color: white;
	background: rgba(255, 0, 0, 0.5);
	font-size: 3rem;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -5%);
	transition: all 0.3s ease-out;
}

.editMenu button {
	position: relative;
	top: 15%;
}